@charset "UTF-8";
/*=============================================
Base
=============================================*/
p,
li {
  line-height: 1.7em;
}

ol,
ul {
  padding-left: 1.2em;
}

ul > li {
  list-style-type: square;
}

ol > li {
  list-style-type: decimal;
}

.fwb {
  font-weight: bold;
}

.text-underLine {
  text-decoration: underline;
}

.text-red {
  color: #9b0505;
}

.text-orange {
  color: #ff8a02;
}

a.hightLineLink {
  display: inline-block;
  color: #282828;
}

.btn {
  width: 240px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  color: #000 !important;
  border-radius: 10px;
  border: 1px solid #e7b972;
  white-space: nowrap;
  background: linear-gradient(to top, #ffb64e 0%, #ffdf31 100%);
}

.btn:hover {
  color: #000;
  background: linear-gradient(to top, #ffdf31 0%, #ffb64e 100%);
}

.rowBlock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.rowBlock__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.rowBlock.mdl {
  padding: 20px 0;
}

.rowBlock.mdl .rowBlock__item {
  width: 50%;
}

.rowBlock.mdl .rowBlock__item:first-of-type {
  border-right: 2px solid rgba(91, 69, 35, 0.3);
}

.hidden-phone {
  display: none;
}

@media (min-width: 768px) {
  .hidden-phone {
    display: block;
  }
}

.visible-phone {
  display: block;
}

@media (min-width: 768px) {
  .visible-phone {
    display: none;
  }
}

@media (max-width: 768px) {
  .btn {
    max-width: 220px;
  }
  .rowBlock {
    flex-direction: column;
    align-items: center;
  }
  .rowBlock.mdl {
    padding: 0;
  }
  .rowBlock.mdl .rowBlock__item {
    padding: 20px 0;
    width: 100%;
  }
  .rowBlock.mdl .rowBlock__item:first-of-type {
    border-right: none;
  }
}

/*=============================================
Main
=============================================*/
.main {
  padding-top: 80px;
  overflow: hidden;
}

/*=============================================
KV
=============================================*/
.KV {
  position: relative;
  height: 600px;
  background: url(img/kv-bg.jpg) no-repeat center bottom;
  background-size: 1920px auto;
}

.KV__wrap {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  transform: scale(0.85);
}

.KVContent {
  position: relative;
  height: 100%;
}

.kv-title {
  top: -50px;
  position: relative;
}

.kv-conis {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
}

.kv-conis .conis {
  position: absolute;
}

.kv-conis .conis.conis01 {
  right: 190px;
  bottom: 100px;
}

.kv-conis .conis.conis02 {
  left: 220px;
  bottom: 140px;
}

.kv-conis .conis.conis03 {
  left: 100px;
  top: 320px;
}

.kv-conis .conis.conis04 {
  right: 277px;
  top: 268px;
}

.kv-conis .conis.conis05 {
  right: 215px;
  top: 125px;
}

.kv-conis .conis.conis06 {
  left: 85px;
  top: 124px;
}

.kv-conis .conis.conis07 {
  right: 82px;
  top: 155px;
}

.kv-conis .conis.conis08 {
  left: 112px;
  top: 88px;
}

@media only screen and (max-width: 960px) {
  .main {
    padding-top: 58px;
  }
  .KV {
    background: url(img/kv-bg-m.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    margin-top: -40px;
    position: relative;
    height: 0;
    padding-bottom: 126%;
  }
  .KV__wrap {
    width: 100%;
  }
  .KVContent {
    display: none;
  }
  .kv-arrow {
    bottom: -20px;
  }
}

/*=============================================
Content
=============================================*/
.content {
  background: url(img/bg.jpg) top center;
}

.content__wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 15px;
}

.contentBox {
  border-width: 30px;
  border-style: solid;
  -o-border-image: url("img/bg-setions.png") 40 stretch;
     border-image: url("img/bg-setions.png") 40 stretch;
}

.contentBox__wrapper {
  padding: 50px;
  background-color: #e1eefd;
}

.panel {
  position: relative;
  background-image: url(img/bg-block.jpg);
  border: 1px solid #e8bc73;
  border-radius: 10px;
  margin: 50px 0;
  padding: 50px 70px 10px 70px;
  min-height: 100px;
}

.panel > * {
  position: relative;
  z-index: 10;
}

.panel .panelTitle {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
}

.panel::before, .panel::after {
  position: absolute;
  z-index: 5;
  content: '';
  display: block;
}

.panel01::before {
  background-image: url(img/dec-chess01.png);
  width: 100px;
  height: 48px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) translateX(-70px);
}

.panel02::before {
  background-image: url(img/dec-chess02.png);
  width: 100px;
  height: 50px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) translateX(120px);
}

.panel02::after {
  background-image: url(img/dec-pencil.png);
  background-size: contain;
  width: 212px;
  height: 217px;
  bottom: 0;
  right: 0;
}

.panel03::before {
  background-image: url(img/dec-chess04.png);
  width: 256px;
  height: 246px;
  top: -100px;
  left: -40px;
}

.panel03::after {
  background-image: url(img/dec-chess03.png);
  background-size: contain;
  width: 108px;
  height: 54px;
  bottom: 0;
  right: 0;
}

.panel04::after {
  background-image: url(img/dec-chess05.png);
  background-size: contain;
  width: 111px;
  height: 68px;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .content {
    background-size: 255%;
  }
  .content__wrapper {
    padding-top: 0;
  }
  .contentBox__wrapper {
    padding: 10px;
  }
  .panel {
    padding: 50px 20px 10px 20px;
  }
  .panel02::after {
    width: 140px;
    height: 140px;
    bottom: -10px;
    right: -10px;
  }
  .panel03::before {
    background-size: contain;
    height: 200px;
    width: 200px;
    bottom: 40px;
    left: -50px;
  }
  .panel03::after {
    display: none;
  }
  .panel04::after {
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 90px;
    bottom: 30px;
    left: -30px;
  }
}

/*=============================================
Section
=============================================*/
.section {
  text-align: center;
}

.section-title {
  width: 280px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .section-title {
    max-width: 200px;
  }
}

/*=============================================
appDownload
=============================================*/
.appDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.appDownload__qrcode img, .appDownload__store img {
  width: 115px;
  margin: 0 5px;
}

.appDownload__store {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .appDownload__store {
    margin-left: 0;
    flex-direction: column;
  }
  .appDownload__store img {
    width: 150px;
    margin-bottom: 15px;
  }
  .appDownload__qrcode {
    display: none;
  }
}

.noListStyle {
  margin-top: 20px;
  padding-left: 0;
  text-align: left;
}

.noListStyle li {
  list-style: none;
}

.noListStyle li {
  list-style: none;
  position: relative;
}

.noListStyle > li {
  padding-left: 2em;
}

.noListStyle > li::before {
  position: absolute;
  left: 0;
  top: 0;
}

.noListStyle > li:nth-child(1)::before {
  content: '(一)';
}

.noListStyle > li:nth-child(2)::before {
  content: '(二)';
}

.noListStyle > li:nth-child(3)::before {
  content: '(三)';
}

.noListStyle > li:nth-child(4)::before {
  content: '(四)';
}

.noListStyle > li:nth-child(5)::before {
  content: '(五)';
}

.noListStyle li ul {
  padding-left: 1em;
}

.noListStyle li li {
  list-style-type: decimal;
}

.noListStyle li li li {
  list-style-type: lower-alpha;
}

.discount-img,
.activity-img {
  max-width: 160px;
  margin: 15px auto;
}

.seven-img {
  max-width: 330px;
  margin: 0 auto 15px auto;
}

/*=============================================
RemarksSection
=============================================*/
.remarksSection {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px 50px 15px;
}

.remarksSection-border {
  border: 1px solid #fff;
  border-radius: 9px;
  background-color: #7e95b3;
}

.remarksSection-btn {
  padding: 15px 20px;
  position: relative;
}

@media (min-width: 768px) {
  .remarksSection-btn {
    padding: 15px 30px;
  }
}

.remarksSection-title {
  text-align: left;
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
}

.remarksSection-icon {
  width: 20px;
  height: 20px;
  background-image: url(img/accordion_minus.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

@media (min-width: 768px) {
  .remarksSection-icon {
    right: 40px;
  }
  .remarksSection-content {
    padding: 25px 40px;
  }
}

.remarksSection-icon.hide {
  background-image: url(img/accordion_plus.png);
}

.remarksSection-hr {
  width: 96%;
  height: 1px;
  background: #fff;
  margin: 0 auto;
}

.remarksSection-hr.hide {
  background: transparent;
}

.remarksSection-content {
  padding: 15px 20px;
  font-size: 0.95em;
  line-height: 1.7em;
  font-weight: bold;
  text-align: justify;
  color: #fff;
}

.remarksSection-contentBlock {
  margin-bottom: 30px;
}

.remarksSection-contentBlock:last-child {
  margin-bottom: 0;
}
